fastapi==0.111.0
uvicorn==0.29.0
python-multipart==0.0.9
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
psycopg2-binary==2.9.9
python-dotenv==1.0.1
torch
torchvision
timm==1.0.3
grad-cam==1.5.0
opencv-python-headless
Pillow
numpy
matplotlib
scikit-learn
fpdf2==2.7.9
